{% extends 'index.html' %}

{% block content %}
<h2>{{ side.capitalize() }}: {{ character[1] }}</h2>
<p>Rank: {{ character[2] }}</p>
<p>Power Level: {{ character[3] }}</p>
<p>Lightsaber_color: {{ character[4] }}</p>

<p>
    <a href="{{ url_for('edit_character', side=side, id=character[0]) }}">
        <button>Editar</button>
    </a>
    <a href="{{ url_for('delete_character', side=side, id=character[0]) }}" onclick="return confirm('¿Está seguro de que desea eliminar este personaje?');">
        <button>Eliminar</button>
    </a>
</p>

<a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}
